<!-- -*- mode: XML -*- -->
<launch>
  <!-- configuration -->
  <arg name="gui" default="false" />
  <arg name="sim" default="false" />
  <arg name="model" default="$(find akrobat)/urdf/hexapod.urdf" />

  <!-- configuration end -->

<!-- Batterie Überwachung starten-->
  
  <node name="batterie_controll" pkg="power_ina219" type="ina219_node">
  <param name="rshunt" value="0.0033"/>
  </node>

  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="$(arg gui)" />

  <!-- start joystick -->
  <node respawn="true" pkg="joy" type="joy_node" name="Joystick_Controller">
    <param name="dev" type="string" value="/dev/input/js0" />
  </node>
  

  <!-- start robot state publisher -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="20.0" />
  </node> -->

  <!-- include dynamixel unless we are just simulating -->
  <include file="$(find akrobat)/launch/dynamixel.launch" unless="$(arg sim)" />

  <!-- start akrobat walking algorithms -->
  <node name="akrobat" pkg="akrobat" type="akrobat" output="screen" required="true">
    <remap from="/goal_joint_states" to="/joint_states" if="$(arg sim)"/>
  </node>

  <!-- start translationNode -->
  <node name="Joystick_Transllation" pkg="akrobat" type="translateJoypad"></node>
  <node name="Navigation_Transllation" pkg="akrobat" type="translateNavigation"></node>


  <!-- start rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find akrobat)/rviz/akrobat.rviz" if="$(arg gui)" />

  <!-- include robot_localization -->
  <include file="$(find akrobat)/launch/robot_localization.launch" />

  <!-- include navigation stack-->
  <include file="$(find akrobat)/launch/akrobat_navigation.launch" />
 
<!-- start state machine 
  <node name="state_machine" pkg="akrobat" type="smach_example_state_machine.py" output="screen" respawn="true"></node> -->
</launch>
