<!-- -*- mode: XML -*- -->
<launch>
   <node respawn="true" pkg="joy" type="joy_node" name="akrobatJoy">
	<param name="dev" type="string" value="/dev/input/js0" />
   </node>
   
   <arg name="model" default="$(find akrobat)/urdf/hexapod.urdf"/>
   <arg name="gui" default="true"/>
   <param name="robot_description" textfile="$(arg model)" />
   <param name="use_gui" value="$(arg gui)"/>

    <!-- Load controller configuration to parameter server -->
   <rosparam file="$(find akrobat)/config/akrobat_controllers.yaml" command="load"/>


   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
      <param name="publish_frequency" value="20.0"/>
   </node>

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find akrobat)/rviz/akrobat.rviz" required="true" />
   
  <rosparam param="dynamixels">[m11, m12, m13, m21, m22, m23, m31, m32, m33, m41, m42, m43, m51, m52, m53, m61, m62, m63]</rosparam>

  <!--node name="dynamixel_joint_states_publisher" pkg="akrobat" type="dynamixel_joint_state_publisher.py" output="screen" >
     <param name="use_gui" value="TRUE"/>
  </node-->

</launch>
