<launch>

    <!-- Run the map server --> 
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find akrobat)/map/carto-neu.pgm 0.050000"/> -->


    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/pico_flexx/points/"/>
        <!-- <remap from="scan" to="$(arg camera)/scan"/> -->
        <rosparam>
            target_frame: base_link # Leave disabled to output scan in pointc>
            transform_tolerance: 0.01
            min_height: 0.3
            max_height: 1.0

            angle_min: -1.5708 # -M_PI/2
            angle_max: 1.5708 # M_PI/2
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0.45
            range_max: 4.0
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for proce>
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>
    </node>

    <!-- Arguments -->
  
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find akrobat)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find akrobat)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find akrobat)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find akrobat)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find akrobat)/config//move_base_params.yaml" command="load" />
    <rosparam file="$(find akrobat)/config/dwa_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="nav_msgs/GetMap" to="nav_msgs/OccupancyGrid"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
</launch>