<!-- -*- mode: XML -*- -->
<launch>
  <!-- configuration -->
  <arg name="gui" default="false" />
  <arg name="sim" default="false" />
  <arg name="model" default="$(find akrobat)/urdf/hexapod.urdf" />

  <!-- configuration end -->

  <arg name="dynamixel_namespace" value="dynamixel_controller" />

  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="$(arg gui)" />

  <!-- start robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="20.0" />
  </node>

  <!-- include dynamixel unless we are just simmulating -->
  <include file="$(find akrobat)/launch/dynamixel.launch" unless="$(arg sim)" />

  <!-- start akrobat walking algorithms -->
  <node name="akrobat_controller" pkg="akrobat" type="akrobat_controller" output="screen" required="true"/>
</launch>
